<h1>商品詳細ページ</h1>
<li>
  商品画像：<%= attachment_image_tag(@item, :image, :fill, 100, 100, fallback: "no_image.jpg") %>
</li>
<li>
  商品名：<%= @item.name %>
</li>
<li>
  商品説明：<%= @item.info %>
</li>
<li>
  ジャンル：<%= @item.genre.name %>
</li>
<li>
  税込価格（税抜価格）：<%= (@item.price*1.1).floor.to_s(:delimited) %>（<%= @item.price.to_s(:delimited) %>）
</li>
<li>
  販売ステータス：
  <% if @item.status == true %>
    販売中
  <% else %>
    販売停止中
  <% end %>
</li>

<%= link_to "編集する", edit_admin_item_path %>
