<div class="container">
  <div>
    <h1>注文情報確認</h1>
  </div>
  <div class="row">
    <table class="table col-6">
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
      <% current_customer.cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.price * 1.1 %></td>
          <td><%= cart_item.quantity %></td>
          <td><%= cart_item.quantity * cart_item.item.price * 1.1 %></td>
        </tr>
      <% end %>
    </table class="table col-4">
    <table>
      <tr>
        <th>送料</th>
        <td><%= @order.delivery_fee %></td>
      </tr>
      <tr>
        <th>商品合計</th>
        <td><%= @order.customer.total_payment %></td>
      </tr>
      <tr>
        <th>請求金額</th>
        <td><%= @order.delivery_fee + @order.customer.total_payment %></td>
      </tr>
    </table>
    
  </div>
  <div>
    <h4>支払方法</h4>
    <p><%= @order.payment %></p>
  </div>
  <div>
    <h4>お届け先</h4>
    <p><%= @order.link_address %></p> <!-- link_addressはordersモデル内で定義したメソッド。呼び出すと住所を連結して返す -->
    <p><%= @order.name %></p>
  </div>
  <div>
    <%= form_with model: @new_order, url: orders_path, method: :post, local: true do |f| %>
      <%= f.hidden_field :delivery_fee, value: @order.delivery_fee %>
      <%= f.hidden_field :name, value: @order.name %>
      <%= f.hidden_field :postal_code, value: @order.postal_code %>
      <%= f.hidden_field :address, value: @order.address %>
      <%= f.hidden_field :total_fee, value: @order.total_fee %>
      <%= f.hidden_field :payment, value: @order.payment %>
      <%= f.submit %>
    <% end %>
    <!-- hidden_fieldで全部の必要な値が@new_orderに入るようにしています。ビュー上ではボタンしか表示されません -->
  </div>
</div>
