<div class="container">
    <div class="row">
     <h3 class="text-light">注文履歴詳細</h3>
    </div>
    <div class="row mt-5">
      <div class="col-7">
        <h3 class="text-light">注文情報</h3>
          <table border="1" width="80%" style="border-collapse: collapse">
            <tr>
              <th class="bg-secondary text-light">注文日</th>
              <td class="bg-light"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <th class="bg-secondary text-light">配送先</th>
              <td class="bg-light">
                〒<%= @order.postal_code %><br>
                <%= @order.address %><br>
                <%= @order.name %>
              </td>
            </tr>
            <tr>
              <th class="bg-secondary text-light">支払い方法</th>
              <td class="bg-light"><%= @order.payment %></td>
            </tr>
            <tr>
              <th class="bg-secondary text-light">ステータス</th>
              <td class="bg-light"><%= @order.status %></td>
            </tr>
          </table>
      </div>
      <div class="col"> 
        <h3 class="text-light">請求情報</h3>
        <table border="1" width="50%"style="border-collapse: collapse">
          <tr>
            <th class="bg-secondary text-light">商品合計</th>
            <td class="bg-light"><%= @order.total_fee %></td>
          </tr>
          <tr>
            <th class="bg-secondary text-light">配送料</th>
            <td class="bg-light"><%= @order.delivery_fee %></td>
          </tr>
          <tr>
            <th class="bg-secondary text-light">請求額</th>
            <td class="bg-light"><%= (@order.total_fee + @order.delivery_fee).to_s(:delimited) %></td>
          </tr>
        </table>
      </div>
    </div>


　<div class="row">
　   <div class="col-7">
　    <h3 class="text-light">注文内容</h3>
　   

    
    　    <table border="1" width="50%"  style="border-collapse: collapse">
              <thead class="bg-secondary">
                 <tr class="text-light">
                    <th width="11%">商品</th>
                    <th width="10%">単価（税込）</th>
                    <th width="10%">個数</th>
                    <th width="9%">小計</th>
                 </tr>
              </thead>
              <tbody class="bg-light">
                  <% @order.ordered_items.each do |ordered_item| %>
                 <tr>
                    <td>
                        <%= ordered_item.item.name %><br>
                    </td>
                    <td><%= (ordered_item.price*1.1).floor.to_s(:delimited) %></td>
                    <td><%= ordered_item.quantity %></td>
                    <td><%= ((ordered_item.item.price*1.1).floor*ordered_item.quantity).to_s(:delimited) %></td>
                 </tr>
                  <% end %>
              </tbody>
          </table>
      </div>
    </div>

</div>