<div>
  <h1>会員一覧</h1>
  <table class="table">
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.family_name %><%= customer.first_name %></td>
        <td><%= customer.email %></td>
        <% if customer.status == true %>
          <td class= "text-danger"><%= customer.status %></td>
        <% else customer.status == false %>
          <td><%= customer.status %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= paginate @customers %>
</div>