<div class="container">
  <div class="row">
    <div class="col-2 pt-5">
      <h4>会員一覧</h4>
    </div>
  </div>
</div>
<div class="container p-0 mt-5 bg-light">
  <table class="table">
    <tr class="text-light bg-secondary">
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.family_name + customer.first_name %></td>
        <td><%= customer.email %></td>
        <% if customer.status == true %>
          <td class= "text-danger"><%= customer.status %></td>
        <% else customer.status == false %>
          <td><%= customer.status %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<%= paginate @customers %>


