<div class="container">
  <div class="row">
    <div class="col-2 pt-4">
      <h4>会員一覧</h4>
    </div>
  </div>
</div>
<div class="container p-0 mt-5 bg-light">
  <table class="table">
    <tr class="bg-secondary">
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.family_name %><%= customer.first_name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.status %></td>
      </tr>
    <% end %>
  </table>
</div>
