<h2>配送先登録/一覧</h2>

<%= form_with model: @shipping, local: true do |f| %>
  <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
  <%= f.text_field :postal_code %><br>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address %><br>
  <%= f.label :name, "宛名" %>
  <%= f.text_field :name %><br>
  <%= f.submit "新規登録" %>
<% end %>

<table border="1" style="border-collapse: collapse">
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @shippings.each do |shipping| %>
    <tr>
      <td>
        <%= shipping.postal_code %>
      </td>
      <td>
        <%= shipping.address %>
      </td>
      <td>
        <%= shipping.name %>
      </td>
      <td>
        <%= link_to "編集する", edit_shipping_path(shipping) %>
      </td>
      <td>
        <%= link_to "削除する", shipping_path(shipping), method: :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
