<div class="container">
  <div class="row">
    <div class="col">
      <h4>注文履歴詳細</h4>
    </div>
  </div>
</div>
<div class="">
  <table class="table">
    <tr class="">
      <th>購入者</th>
      <td><%= @order.customer.family_name + @order.customer.first_name %></td>
    </tr>
    <tr class="">
      <th>注文日</th>
      <td><%= @order.created_at %></td>
    </tr>
    <tr class="">
      <th>配送先</th>
      <td><%= @order.link_address %><br><%= @order.name %></td>
    </tr>
    <tr class="">
      <th>支払方法</th>
      <td><%= @order.payment %></td>
    </tr>
    <tr class="">
      <th>注文ステータス</th>
      <%= form_with model: @order, url:admin_order_path, local: true do |f| %>
      <td><%= f.select :status, Order.statuses.keys %></td> <!--モデル名.カラム名複数形.keys-->
      <td><%= f.submit "更新" %></td>
      <% end %>
      <td></td>
    </tr>
  </table>
</div>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
  <table class="table">
    <tr class="">
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
    <% @ordered_items.each do |order| %>
    <tr>
      <td><%= order.item.name %></td>
      <td><%= (order.price*1.1).floor.to_s(:delimited) %></td>
      <td><%= order.quantity %></td>
      <td><%= ((order.price*1.1).floor*order.quantity).to_s(:delimited) %></td>
      <%= form_with model: order, url:admin_ordered_item_path(order), method: :patch, local: true do |f| %>
      <td><%= f.select :status, OrderedItem.statuses.keys %></td>
      <td><%= f.submit "更新" %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <table>
    <tr>
       <th>商品合計</th>
       <td><%= @ordered_items.total_fee %></td>
    </tr>
    <tr>
      <th>送料</th>
      <td><%= @ordered_items.delivery_fee %></td>
    </tr>
    <tr>
      <th>請求金額合計</th>
      <td><%= (@ordered_items.total_fee + @ordered_items.delivery_fee).to_s(:delimited) %></td>
    </tr>
  </table>
</div>

