<div class="container">
   <div class="low">
     <h4>注文履歴詳細</h4>
   </div>
        <div class="container text-light">
            <div class="row">
                <div class="col-3">
                  <h5>購入者</h5>
                </div>
                <div class="col-6">
                  <h5><%= @order.customer.family_name + @order.customer.first_name %></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                  <h5>注文日</h5>
                </div>
                <div class="col-6">
                  <h5><%= @order.created_at %></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                  <h5>配送先</h5>
                </div>
                <div class="col-6">
                  <h5><%= @order.link_address %><br><%= @order.name %></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                  <h5>支払方法</h5>
                </div>
                <div class="col-6">
                  <h5><%= @order.payment %></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                  <h5>注文ステータス</h5>
                </div>
                <%= form_with model: @order, url:admin_order_path, local: true do |f| %>
                <div class="col-3">
                  <%= f.select :status, Order.statuses.keys %>
                </div> <!--モデル名.カラム名複数形.keys-->
                <div class="col-3">
                  <%= f.submit "更新" %>
                </div>
                <% end %>
            </div>
        </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-8">
        <table class="table-bordered text-light">
            <tr class="">
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th>制作ステータス</th>
              <th></th>
            </tr>
            <% @ordered_items.each do |order| %>
            <tr>
              <td><%= order.item.name %></td>
              <td><%= (order.price*1.1).floor.to_s(:delimited) %></td>
              <td><%= order.quantity %></td>
              <td><%= ((order.price*1.1).floor*order.quantity).to_s(:delimited) %></td>
              <%= form_with model: order, url:admin_ordered_item_path(order), method: :patch, local: true do |f| %>
              <td><%= f.select :status, OrderedItem.statuses.keys %></td>
              <td><%= f.submit "更新" %></td>
              <% end %>
            </tr>
            <% end %>
        </table>
    </div>
      <div><%= @order.total_fee %></div>
      <diV><%= @order.delivery_fee %></diV>
      <diV><%= (@order.total_fee + @order.delivery_fee).to_s(:delimited) %></diV>
  </div>
</div>

