<h3>ログイン</h3>
<h6>会員の方はこちらからログイン</h6>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<table>
  <tr>
    <td><%= f.label :メールアドレス %><br /></td>
    <td><%= f.email_field :email, autofocus: true %></td>
  </tr>
  <tr>
    <td><%= f.label :パスワード %><br /></td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit "ログイン" %></td>
  </tr>
</table>
<% end %>
<h3>会員登録がお済みでない方</h3>

<%= render "customers/shared/links" %>
