<div class="container">
  <div class="row">
    <div class="col-4">
      <h4>ショッピングカート</h4>
    </div>
    <% if @cart_items.present? %>
    <div class="col-7 text-right">
      <%= link_to "カートを空にする", cart_items_all_destroy_path,class: "btn btn-danger", method: :delete %>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered", width="120">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @sum = 0 %>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td width="50%"><%= attachment_image_tag(cart_item.item, :image, :fill, 100, 100, fallback: "no_image.jpg") %>
            <%= cart_item.item.name %>
          </td>
          <td width="20%">
            <%= (cart_item.item.price*1.1).floor.to_s(:delimited) %>
          </td>
          <td width="20%">
            <%= form_with model:cart_item, local: true do |f| %>
              <%= f.number_field :quantity, min:0, max:10 %>
              <%= f.submit "変更" %>
            <% end %>
          </td>
          <td width="20%">
            <%= ((cart_item.item.price*1.1).floor*cart_item.quantity).to_s(:delimited) %>
          </td>
          <td width="40%">
            <%= link_to "削除する", cart_item_path(cart_item),class: "btn btn-danger", method: :delete %>
          </td>
        </tr>
        <% @sum += (cart_item.item.price*1.1).floor*cart_item.quantity %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-8 text-left">
      <%= link_to "買い物を続ける",root_path, class: "btn btn-primary" %>
    </div>
    <div class="col-4">
      <table class="table table-bordered">
        <tr>
          <td>合計金額</td>
          <td><%= @sum.to_s(:delimited) %></td>
        </tr>
      </table>
  　</div>
  </div>
  <div class="row justify-content-center">
    <%= link_to"情報入力に進む",new_order_path, class: "btn btn-success" %>
  </div>
  <% else %>
    <h1>カートに商品はありません</h1>
  <% end %
</div>