<div class="container">
    
    <div class="row">
      　<div class="col-4">
      　<h4>ショッピングカート</h4>
      　</div>
    　　
    　　<div class="col-7 text-light text-right">
        <!--カートを空にする-->
        <%= link_to "カートを空にする", cart_items_all_destroy_path,class: "btn btn-danger", method: :delete %>
        </div>
    </div>


    <div class="row">
    <!--カート商品一覧-->
      <table class="table table-bordered bg-light" , width="120">
        <thead class="thead-light">
           <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
           </tr>
        </thead>
      　<tbody>
          <% @sum = 0 %>
          <% @cart_items.each do |cart_item| %>
           <tr>
               <td width="40%"><%= attachment_image_tag(cart_item.item, :image, :fill, 50, 50, fallback: "no_image.jpg") %>
                   <%= cart_item.item.name %>
               </td>
               <td width="20%">
                   <%= (cart_item.item.price*1.1).floor.to_s(:delimited) %>
               </td>
               <td width="15%">
                   <%= form_with model:cart_item, local: true do |f| %>
                   <%= f.number_field :quantity, min:0, max:10 %>
                   <%= f.submit "変更" %>
                   <% end %>
               </td>
               <td width="10%">
                   <%= ((cart_item.item.price*1.1).floor*cart_item.quantity).to_s(:delimited) %>
      
               </td>
               <td width="45%">
                 <%= link_to "削除する", cart_item_path(cart_item),class: "btn btn-danger", method: :delete %>
               </td>
           </tr>
           <% @sum += (cart_item.item.price*1.1).floor*cart_item.quantity %>
           <% end %>
        </tbody>
      </table>

